<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1099425597373-k5idbcu9qf202h0cjnqis9qd11qq82qc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1099425597373-k5idbcu9qf202h0cjnqis9qd11qq82qc</string>
	<key>API_KEY</key>
	<string>AIzaSyC-fvizDDwTRqkbayehcoQEa8cutEpneoI</string>
	<key>GCM_SENDER_ID</key>
	<string>1099425597373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>home.VkClientV1</string>
	<key>PROJECT_ID</key>
	<string>vk-client-1d5ab</string>
	<key>STORAGE_BUCKET</key>
	<string>vk-client-1d5ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1099425597373:ios:253c7d1a9199e9416834d4</string>
</dict>
</plist>
